.c-menu-card{
    display:inline-block;
    width: 50%;
    height: 204px;
    margin:0 auto;
    position: relative;
    background-color: #333;
}

.c-menu-card__img{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-size: cover;
    width: 108px;
    position: relative;
}

.c-menu-card__txt{

}