[ng-dropover] {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.ngdo-contents {
  border: 1px solid #d14b2d;
  border-radius: 10px;
  background-color: #fbf4e1;
  padding: 20px;
  box-shadow: 0px 5px 6px #888888;
}

.ngdo-contents p {
  margin-top: 0;
}

.ngdo-trigger.ngdo-open {
  background-color: white;
  color: #D8A521;
}

div.arrowed:before,div.arrowed:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
}

div.arrowed:before {
  border-bottom-color: #fbf4e1;
  position: absolute;
  top: -19px;
  left: 20px;
  z-index: 2;
}

div.arrowed:after {
  border-bottom-color: #d14b2d;
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: 1;
}

.ngdo-contents{
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  opacity: 0;
}
.ngdo-open .ngdo-contents {
  opacity: 1;
}

.ng-hide:not(.ng-hide-animate) {
  /* These are just alternative ways of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}