<div style="background:#ecf0f1; padding:10px; width:100%; height:100%; position:relative; box-sizing: border-box; font-size: 0;">
    <div id="navBar" style="background:#7f8c8d; width:15%; display: inline-block; font-size: 12pt; vertical-align:top;">
        <!-- Choix de la langue -->
        <langdropdown></langdropdown>
        <!-- Menu -->
        <ul>
            <li ui-sref="edition.module">Module</li>
            <li ui-sref="edition.chapterlist">Contenu</li>
        </ul>
        <!-- Actions -->
        <button ng-disabled="(vm.modelChanged||vm.tradChanged) ? false : true" ng-click="vm.doSave();">Sauvegarde</button>
    </div>
    <div id="content" style="background:#ffffff; width:85%; display: inline-block; font-size: 12pt; vertical-align:top;">
        <ui-view></ui-view>
    </div>
</div>