<div style="background:#ecf0f1; padding:10px; width:95%; position:relative;">
    <div id="moduleInfos" style="background:#7f8c8d; vertical-align:top; padding:6px; margin-bottom:6px;">
        <p translate>module.title</p>
        <h3>Titre : <input type="text" name="title" 
            ng-value="vm.data.header.title.value" 
            ng-model="vm.data.header.title.value"></h3>
        <p>Description : <input type="text" name="description" value="{{vm.data.header.description.value}}" ng-model="vm.data.header.description.value"></p>
    </div>
    <div id="sectionList" style="background:#95a5a6; display: inline-block; vertical-align:top; width:10%; padding:6px;">
        <h3>Sections</h3>
        <ul>
            <li ng-repeat="section in vm.data.section" ng-click="vm.currentSection = section; vm.currentItem = null;" style="background:#ffffff; margin:2px 0;">{{section.title.value}}</li>
        </ul>
        <button ng-click="vm.createSection()">Ajouter une section</button>
    </div>
    <div ng-if="vm.currentSection" style="display: inline-block; width:75%">
        <div id="sectionInfos" style="background:#bdc3c7; padding:6px; margin-bottom:6px;">
            <h3>Titre : <input type="text" name="title" value="{{vm.currentSection.title.value}}" ng-model="vm.currentSection.title.value"></h3>
            <select ng-model="vm.currentSection.type">
                <option ng-repeat="sectiontype in vm.sectiontypes" value="{{sectiontype.code}}">{{sectiontype.description}}</option>
            </select>
            <p>Code [RO] : {{vm.currentSection.code}}</p>
        </div>
        <div>
            <div id="itemList" style="background:#95a5a6; display: inline-block; vertical-align:top; width:20%; padding:6px;">
                <h3>Items</h3>
                <ul>
                    <li ng-repeat="item in vm.currentSection.item" ng-click="vm.currentItem = item" style="background:#ffffff; margin:2px 0;">{{item.title.value}}</li>
                </ul>
                <button ng-click="vm.createItem()">Ajouter un item</button>
            </div>
            <div ng-if="vm.currentItem" id="itemInfos" style="background:#bdc3c7; display: inline-block; width:75%; padding:6px;">
                <h3>Titre : <input type="text" name="title" value="{{vm.currentItem.title.value}}" ng-model="vm.currentItem.title.value"></h3>
                <select ng-model="vm.currentItem.type">
                    <option ng-repeat="itemtype in vm.itemtypes" value="{{itemtype.code}}">{{itemtype.description}}</option>
                </select>
                <p>Code [RO] : {{vm.currentItem.code}}</p>
                <p>Instruction : <input type="text" name="instruction" value="{{vm.currentItem.instruction.value}}" ng-model="vm.currentItem.instruction.value"></p>
                <p>Fichier sonore : <input type="text" name="sound" value="{{vm.currentItem.sound}}" ng-model="vm.currentItem.sound">.mp3</p>

                <div ng-if="vm.currentItem.type == 'text'">
                    <h4>Contenu texte :</h4>
                    <textarea rows="4" cols="50">{{vm.currentItem.content.text.value}}</textarea>
                </div>
                <div ng-if="vm.currentItem.type == 'textimg'">
                    <p>Texte : {{vm.currentItem.content.text}} + image URL : {{vm.currentItem.content.img}}</p>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="vm.test()">Test</button>
</div>