<div style="padding:10px;">
    <h3><a ui-sref="edition.module">Module</a> > Contenu</h3>
    <button ng-click="vm.createSection()">Ajouter un chapitre</button>
    <ul style="list-style:none; padding-left:0;">
        <li ng-repeat="section in vm.data" class="item">
            <div>
                <div style="display:inline-block;">
                    <p>Titre du chapitre : 
                        <editable-field field-value="section.title.value" field-type="text" on-update="vm.onUpdate(section, 'title', value)"></editable-field>
                    </p>
                    <p>Code : {{section.code}}</p>
                    <select ng-model="section.type" ng-disabled="true" style="margin-bottom:6px;">
                        <option ng-repeat="sectiontype in vm.sectionTypes" value="{{sectiontype.code}}">{{sectiontype.description}}</option>
                    </select>
                    <br>
                    <button ng-click="vm.gotoPage(section.guid)">Consulter les pages</button>
                </div>
                <!-- TODO : transformer en component -->
                <div style="float:right;">
                    <button ng-disabled="$index == 0" ng-click="vm.move(section, -1)">Déplacer vers le haut</button>
                    <button ng-disabled="$index == vm.data.length-1" ng-click="vm.move(section, 1)">Déplacer vers le bas</button>
                    <button ng-click="vm.onDelete(section)">Supprimer</button>
                </div>
            </div>
        </li>
    </ul>
</div>