<p>Contenu chapitre sélectionné, id: {{vm.sectionId}}</p>

<p>currentItem : {{vm.currentItemId+1}}</p>

<div>
    <ul>
        <li ng-repeat="item in vm.section.item" ng-if="$index === vm.currentItemId"><a>{{item.title}} {{item.read}}</a>
            <!--<div data-emitstatus>
            </div>-->
            <div itemgenerator item="item"></div>
        </li>
    </ul>
</div>

<div data-prevandnext items="vm.section.item" current-item-index="vm.currentItemId" current-section-index="vm.sectionId"></div>

<completion-bar list="vm.inheritedData" current-index="vm.currentPageIndex" current-item-index="vm.currentItemId" current-section-index="vm.sectionId"></completion-bar>