<div ng-repeat="item in $ctrl.internalItem.content.pointers" ng-if="$ctrl.currentItem == $index">{{item.text}}</div>

<div class="c-didacticiel--wrapper--16--9">
    <div class="content">
        <img ng-src="img/{{$ctrl.internalItem.content.img}}" alt="">
        <div ng-repeat="pointer in $ctrl.internalItem.content.pointers">
            <span ng-if="$index === $ctrl.currentItem"
                class="c-didacticiel__pointer notclicked" 
                ng-class="{clicked:pointer.seen}" 
                ng-attr-style="top:{{pointer.top}}%; left:{{pointer.left}}%; width:{{pointer.width}}%; height:{{pointer.height}}%;"
                id="{{ 'myDropover' + $index }}"
                ng-dropover="{{ 'myDropover' + $index }}" 
                ng-dropover-options="{'position': 'bottom-left', 'triggerEvent': 'none', 'verticalOffset': 10, 'closeOnClickOff': false}">
                <div ng-dropover-contents class="arrowed">
                    <p><u>Instructions</u></p>
                    <div>{{pointer.text | translate}}</div>
                    <button ng-click="$ctrl.close($index); pointer.seen = true; $ctrl.checkReadEvent();">{{'label.ok' | translate}}</button>
                </div>
            </span>
        </div>
    </div>
</div>