<p>new module</p>

<section translate-namespace="tradObj">

    <hr>

    <p translate=".TITLE_ID">texte à traduire : {{vm.polyglote}}</p>

    <hr>
    <!-- le mieux est d'utiliser une directive car elle "unwatchera" la valeur quand il faut -->
    <p translate=".TITLE_ID">On peut mettre un texte au cas ou ça foire !</p>

    <hr>

    <!-- avec du html à binder -->
    <!--avant-->
    <!--<p ng-bind-html="vm.atraduire"></p>-->
    <!--après-->
    <p translate="{{vm.atraduire}}"></p>

    <hr>

    <!--intégration d'une variable-->

    <input type="text" ng-model="lenom" placeholder="tapez un nom pour le voir apparaître dans la traduction">
    <p translate=".TEST_GREETING_ID" translate-value-name="{{lenom}}"></p>
    <p translate>.TEST_KEY_IN_HTML</p>
    <p>{{TEST_WITH_FILTER_ID | translate}}</p>

    <hr>

    <p>Choix de la langue</p>
    <button translate ng-click="vm.changeLanguage('fr')">.TEST_AVAILABLE_LANGUAGE.fr</button>
    <button translate ng-click="vm.changeLanguage('en')">.TEST_AVAILABLE_LANGUAGE.en</button>
    <button translate ng-click="vm.changeLanguage('xx')">langue inconnu pour tester erreur</button>



    <p>{{vm.langChoice}}</p>

</section>