<h1>qsimple directive</h1>

<!--enonce-->
<p>{{$ctrl.item.content.question}}</p>

<!--proposition-->
<ul>
    <li ng-repeat="p in $ctrl.item.content.proposal">
        <input type="radio" id="{{'radio' + $index}}" ng-value="$index" ng-model="$ctrl.radio.checked" ng-disabled="$ctrl.item.read"/>
        <label for="{{'radio' + $index}}">{{p.text}}</label>
    </li>
</ul>

<!--feedback-->
<p ng-if="$ctrl.item.read && $ctrl.feedback.feedOk">{{$ctrl.item.content.feedback.ok}} {{$ctrl.feedback.feedOk}}</p>
<p ng-if="$ctrl.item.read && !$ctrl.feedback.feedOk">{{$ctrl.item.content.feedback.ko}} {{$ctrl.feedback.feedOk}}</p>

<!--bouton-->
<button ng-click="$ctrl.check()" ng-disabled="$ctrl.item.read">valider</button>
