<br/>

<div class="c-video--wrapper--16--9">
    <div class="content">
        <video ng-poster="img/{{vm.item.content.poster}}" class="c-hero__bg" playsinline controls id="video">
            <source ng-repeat="video in vm.item.content.format" ng-src="video/{{vm.item.content.videoFile}}.{{video}}" ng-type="video/{{video}}">
        </video>
    </div>
</div>

<br/>

<section class="c-item__header c-item__header--top animated fadeInUp">
    <p class="c-item__header__instruction" translate="{{$ctrl.item.instruction}}">{{$ctrl.item.instruction}}</p>
</section>